/* html, *, *::before,*::after, body box-sizing to keep *
 * footer sticky at bottom of the page                  *
 * https://codepen.io/cbracco/pen/zekgx                 */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.125em;
  margin: 0;
  padding: 0 0 18em 0;
  min-height: 100%;
  position: relative;
}
a {
  color: #000;
}
a:visited {
  color: #551a8b;
}
.sjrk-caps {
  text-transform: uppercase;
}
.sjrk-note {
  font-size: 80%;
  font-style: italic;
}
/* Header */
.sjrk-header {
  background-color: #fbe540;
  background-position: top;
}
.sjrk-mainHeading {
  color: #000;
  font-size: 4.43em;
  margin: 0 0 0 0;
  padding: 0.5em 0.5em 0.5em 0.5em;
}
.sjrk-mainHeading a {
  text-decoration: none;
  color: #000;
}
.sjrk-mainHeading-repairKit {
  letter-spacing: 0.01em;
}
.sjrk-mainHeading-repairKit-P {
  letter-spacing: -0.03em;
}
.sjrk-mainHeading-repairKit-A {
  letter-spacing: 0.03em;
}
.sjrk-header-stripes {
  background-image: url("../images/sjrk-cropped-stroke-black.png");
  background-size: 4em auto;
  background-repeat: repeat-x;
}
/* Body container */
.sjrk-container {
  width: 100%;
}
/* Codesign container background size and padding should shrink on mobile */
@media screen and (max-width: 48em) {
  .sjrk-codesign-container {
    background-size: 6em auto;
    padding-left: 8em;
    background-position: top left 2em;
  }
  .sjrk-navbar-large-container {
    border-bottom: none;
  }
}
.sjrk-content-top {
  background-position: bottom;
}
.sjrk-content p {
  line-height: 1.7em;
}
.sjrk-content ul,
.sjrk-content li {
  margin: 0;
  padding: 0;
  line-height: 1.7em;
  list-style-position: inside;
}
.sjrk-content-resources {
  padding-right: 2em;
}
.sjrk-content-container {
  margin: 2em auto;
}
.sjrk-links-container {
  line-height: 1.55em;
  font-size: 1.6em;
  padding-left: 1.2em;
}
.sjrk-subheading {
  font-size: 2em;
  margin: 0;
}
.flc-toc-tocContainer {
  display: block;
}
.sjrk-content-container ul {
  list-style: disc;
}
.sjrk-content-bottom {
  height: 236px;
}
.sjrk-links a {
  color: #000;
}
.sjrk-activities>div:nth-child(even) {
  background: #eee;
}
.sjrk-activities-content {
  padding: 0.1em 1.5em;
  margin: 0;
}
.sjrk-activities-content p {
  line-height: 1.7em;
}
.sjrk-activities-content ul,
.sjrk-activities-content li {
  margin: 0;
  padding: 0;
  padding-left: 1.2em;
  line-height: 1.7em;
  list-style-position: outside;
}
.sjrk-activities-content li {
  padding: 0;
}
/* Navigation bar */
.sjrk-navbar-large-container {
  background: #fff;
  margin: 0 3em 0 3em;
  border-bottom: 1px solid #000;
}
@media screen and (max-width: 64em) {
  .sjrk-navbar-large {
    display: none !important;
  }
  .sjrk-navbar-large-container {
    border-bottom: none;
  }
}
.sjrk-navbar-large .sjrk-navbar-item {
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  color: #000;
  font-size: 1.2em;
  font-weight: bold;
  padding: 1em 1em 0.8em 0.5em;
}
.sjrk-navbar-large.sjrk-navbar-active-about .sjrk-navbar-item-about::after,
.sjrk-navbar-large.sjrk-navbar-active-partners .sjrk-navbar-item-partners::after,
.sjrk-navbar-large.sjrk-navbar-active-resources .sjrk-navbar-item-resources::after,
.sjrk-navbar-large.sjrk-navbar-active-activity .sjrk-navbar-item-activity::after {
  content: ' ';
  display: block;
  width: 188px;
  height: 35px;
  position: absolute;
  margin-left: -45px;
  background-image: url("../images/sjrk-nav-stroke-active-black.png");
}
.sjrk-navbar-large .sjrk-navbar-item a {
  color: #000;
  text-decoration: none;
}
/* Responsive navigation bar */
@media screen and (min-width: 64em) {
  .sjrk-navbar-small {
    display: none !important;
  }
}
.sjrk-navbar-small {
  text-align: right;
  padding: 2em;
}
.sjrk-navbar-small .sjrk-navbar-small-navbar-list {
  list-style: none;
  padding-left: 0;
}
.sjrk-navbar-small .sjrk-navbar-small-navbar-list li {
  padding-bottom: 1.4em;
}
.sjrk-navbar-small .sjrk-navbar-small-openToggle:before {
  background-image: url("../images/sjrk-nav-chevron.png");
  background-size: 40px 21px;
  display: inline-block;
  width: 2.5em;
  height: 0.9em;
  content: " ";
  background-repeat: no-repeat;
  background-position: center;
}
.sjrk-navbar-small .sjrk-navbar-small-openToggle,
.sjrk-navbar-small .sjrk-navbar-small-closeToggle {
  font-weight: bold;
}
.sjrk-navbar-small .sjrk-navbar-small-closed,
.sjrk-navbar-small .sjrk-navbar-small-open {
  text-align: left;
  background-color: #fff;
  padding: 0.5em 1.25em 0.5em 1.25em;
}
.sjrk-navbar-small .sjrk-navbar-small-closed {
  display: inline-block;
}
.sjrk-navbar-small .sjrk-navbar-small-closeToggle:before {
  background-image: url("../images/sjrk-nav-close.png");
  background-size: 21px 20px;
  display: inline-block;
  width: 2.5em;
  height: 0.9em;
  content: " ";
  background-repeat: no-repeat;
  background-position: center;
}
.sjrk-navbar-small .sjrk-navbar-small-open {
  border: 1px solid #000;
  display: none;
}
.sjrk-navbar-small.sjrk-navbar-active-about .sjrk-navbar-item-about,
.sjrk-navbar-small.sjrk-navbar-active-partners .sjrk-navbar-item-partners,
.sjrk-navbar-small.sjrk-navbar-active-resources .sjrk-navbar-item-resources,
.sjrk-navbar-small.sjrk-navbar-active-activity .sjrk-navbar-item-activity {
  font-weight: bold;
  background-image: url("../images/sjrk-nav-stroke-active-small.png");
  background-position: bottom;
  background-repeat: no-repeat;
}
.sjrk-navbar-small a {
  text-decoration: none;
  color: #000;
}
.sjrk-join-us-container {
  border: 2px solid #000;
  background-color: #f3d300;
  padding: 0 1em;
}
.sjrk-join-us-container a {
  color: #000;
  font-weight: bold;
}
.sjrk-join-us-container p {
  line-height: 1.3em;
}
.sjrk-join-us-container-heading {
  font-size: 1.125em;
}
/* Footer and logos */
.sjrk-logos-container {
  padding-left: 2em;
}
.sjrk-oak-foundation {
  background-image: url("../images/sjrk-oak-logo-black.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  width: 145px;
  height: 80px;
  position: relative;
  margin-top: 0;
  resize: both;
}
.sjrk-idrc {
  background-image: url("../images/sjrk-idrc-logo-black.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  width: 290px;
  height: 80px;
  position: relative;
  margin-top: 0;
  resize: both;
}
.sjrk-oak-foundation-logo {
  font-size: 0;
  width: 100%;
}
.sjrk-idrc-logo {
  font-size: 0;
  width: 100%;
}
.sjrk-footer {
  background-color: #fbe540;
  background-position: bottom;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1em;
  height: 18em;
  font-size: 0.8em;
}
.sjrk-footer a {
  font-weight: bold;
  text-decoration: none;
  color: #000;
}
.sjrk-footer-stripes {
  background-image: url("../images/sjrk-cropped-stroke-bottom-black.png");
  background-repeat: repeat-x;
  background-size: 4em auto;
  left: 0;
  bottom: 0;
  height: 22em;
}
/* Begin custom CSS for UIO */
/* Remove background images when high contrast themes are selected via UIO */
.fl-theme-by .sjrk-content-top,
.fl-theme-yb .sjrk-content-top,
.fl-theme-wb .sjrk-content-top,
.fl-theme-bw .sjrk-content-top,
.fl-theme-lgdg .sjrk-content-top,
.fl-theme-by .sjrk-header,
.fl-theme-yb .sjrk-header,
.fl-theme-wb .sjrk-header,
.fl-theme-bw .sjrk-header,
.fl-theme-lgdg .sjrk-header,
.fl-theme-by .sjrk-content-bottom,
.fl-theme-yb .sjrk-content-bottom,
.fl-theme-wb .sjrk-content-bottom,
.fl-theme-bw .sjrk-content-bottom,
.fl-theme-lgdg .sjrk-content-bottom,
.fl-theme-by .sjrk-footer,
.fl-theme-yb .sjrk-footer,
.fl-theme-wb .sjrk-footer,
.fl-theme-bw .sjrk-footer,
.fl-theme-lgdg .sjrk-footer,
.fl-theme-by .sjrk-navbar-item,
.fl-theme-yb .sjrk-navbar-item,
.fl-theme-wb .sjrk-navbar-item,
.fl-theme-bw .sjrk-navbar-item,
.fl-theme-lgdg .sjrk-navbar-item,
.fl-theme-by .sjrk-navbar-large.sjrk-navbar-active-about .sjrk-navbar-item-about,
.fl-theme-yb .sjrk-navbar-large.sjrk-navbar-active-about .sjrk-navbar-item-about,
.fl-theme-wb .sjrk-navbar-large.sjrk-navbar-active-about .sjrk-navbar-item-about,
.fl-theme-bw .sjrk-navbar-large.sjrk-navbar-active-about .sjrk-navbar-item-about,
.fl-theme-lgdg .sjrk-navbar-large.sjrk-navbar-active-about .sjrk-navbar-item-about,
.fl-theme-by .sjrk-navbar-large.sjrk-navbar-active-partners .sjrk-navbar-item-partners,
.fl-theme-yb .sjrk-navbar-large.sjrk-navbar-active-partners .sjrk-navbar-item-partners,
.fl-theme-wb .sjrk-navbar-large.sjrk-navbar-active-partners .sjrk-navbar-item-partners,
.fl-theme-bw .sjrk-navbar-large.sjrk-navbar-active-partners .sjrk-navbar-item-partners,
.fl-theme-lgdg .sjrk-navbar-large.sjrk-navbar-active-partners .sjrk-navbar-item-partners,
.fl-theme-by .sjrk-navbar-large.sjrk-navbar-active-resources .sjrk-navbar-item-resources,
.fl-theme-yb .sjrk-navbar-large.sjrk-navbar-active-resources .sjrk-navbar-item-resources,
.fl-theme-wb .sjrk-navbar-large.sjrk-navbar-active-resources .sjrk-navbar-item-resources,
.fl-theme-bw .sjrk-navbar-large.sjrk-navbar-active-resources .sjrk-navbar-item-resources,
.fl-theme-lgdg .sjrk-navbar-large.sjrk-navbar-active-resources .sjrk-navbar-item-resources,
.fl-theme-by .sjrk-navbar-large.sjrk-navbar-active-activity .sjrk-navbar-item-activity,
.fl-theme-yb .sjrk-navbar-large.sjrk-navbar-active-activity .sjrk-navbar-item-activity,
.fl-theme-wb .sjrk-navbar-large.sjrk-navbar-active-activity .sjrk-navbar-item-activity,
.fl-theme-bw .sjrk-navbar-large.sjrk-navbar-active-activity .sjrk-navbar-item-activity,
.fl-theme-lgdg .sjrk-navbar-large.sjrk-navbar-active-activity .sjrk-navbar-item-activity {
  background-image: none;
}
.flc-toc-header {
  font-size: 2em;
}
.flc-prefsEditor-separatedPanel .fl-prefsEditor-separatedPanel {
  overflow: visible;
}
/* White assets for white-on-black theme */
.fl-theme-wb .sjrk-oak-foundation {
  color: #fff;
  background-image: url("../images/sjrk-oak-logo-white.png");
  background-repeat: no-repeat;
}
.fl-theme-wb .sjrk-idrc {
  color: #fff;
  background-image: url("../images/sjrk-idrc-logo-white.png");
  background-repeat: no-repeat;
}
.fl-theme-wb .sjrk-navbar-active-about .sjrk-navbar-item-about::after,
.fl-theme-wb .sjrk-navbar-active-partners .sjrk-navbar-item-partners::after,
.fl-theme-wb .sjrk-navbar-active-resources .sjrk-navbar-item-resources::after,
.fl-theme-wb .sjrk-navbar-active-activity .sjrk-navbar-item-activity::after {
  background-image: url("../images/sjrk-nav-stroke-active-white.png");
}
.fl-theme-wb .sjrk-navbar-small.sjrk-navbar-active-about .sjrk-navbar-item-about,
.fl-theme-wb .sjrk-navbar-small.sjrk-navbar-active-partners .sjrk-navbar-item-partners,
.fl-theme-wb .sjrk-navbar-small.sjrk-navbar-active-resources .sjrk-navbar-item-resources,
.fl-theme-wb .sjrk-navbar-small.sjrk-navbar-active-activity .sjrk-navbar-item-activity {
  background-image: url("../images/sjrk-nav-stroke-active-small-white.png");
}
.fl-theme-wb .sjrk-navbar-small-openToggle:before {
  background-image: url("../images/sjrk-nav-chevron-white.png");
}
.fl-theme-wb .sjrk-navbar-small-closeToggle:before {
  background-image: url("../images/sjrk-nav-close-white.png");
}
/* Black assets for black-on-white theme */
.fl-theme-bw .sjrk-oak-foundation {
  color: #fff;
  background-image: url("../images/sjrk-oak-logo-blackyellow.png");
  background-repeat: no-repeat;
}
/* Yellow assets for yellow-on-black theme */
.fl-theme-yb .sjrk-oak-foundation {
  color: #ff0;
  background-image: url("../images/sjrk-oak-logo-yellow.png");
}
.fl-theme-yb .sjrk-idrc {
  color: #ff0;
  background-image: url("../images/sjrk-idrc-logo-yellow.png");
}
.fl-theme-yb .sjrk-navbar-active-about .sjrk-navbar-item-about::after,
.fl-theme-yb .sjrk-navbar-active-partners .sjrk-navbar-item-partners::after,
.fl-theme-yb .sjrk-navbar-active-resources .sjrk-navbar-item-resources::after,
.fl-theme-yb .sjrk-navbar-active-activity .sjrk-navbar-item-activity::after {
  background-image: url("../images/sjrk-nav-stroke-active-yellow.png");
}
.fl-theme-yb .sjrk-navbar-small.sjrk-navbar-active-about .sjrk-navbar-item-about,
.fl-theme-yb .sjrk-navbar-small.sjrk-navbar-active-partners .sjrk-navbar-item-partners,
.fl-theme-yb .sjrk-navbar-small.sjrk-navbar-active-resources .sjrk-navbar-item-resources,
.fl-theme-yb .sjrk-navbar-small.sjrk-navbar-active-activity .sjrk-navbar-item-activity {
  background-image: url("../images/sjrk-nav-stroke-active-small-yellow.png");
}
.fl-theme-yb .sjrk-navbar-small-openToggle:before {
  background-image: url("../images/sjrk-nav-chevron-yellow.png");
}
.fl-theme-yb .sjrk-navbar-small-closeToggle:before {
  background-image: url("../images/sjrk-nav-close-yellow.png");
}
/* Black assets for black and yellow theme */
.fl-theme-by .sjrk-oak-foundation {
  color: #ff0;
  background-image: url("../images/sjrk-oak-logo-blackyellow.png");
}
/* Light grey assets for light grey and dark grey theme */
.fl-theme-lgdg .sjrk-oak-foundation {
  color: #ff0;
  background-image: url("../images/sjrk-oak-logo-grey.png");
}
.fl-theme-lgdg .sjrk-idrc {
  color: #ff0;
  background-image: url("../images/sjrk-idrc-logo-grey.png");
}
.fl-theme-lgdg .sjrk-navbar-active-about .sjrk-navbar-item-about::after,
.fl-theme-lgdg .sjrk-navbar-active-partners .sjrk-navbar-item-partners::after,
.fl-theme-lgdg .sjrk-navbar-active-resources .sjrk-navbar-item-resources::after,
.fl-theme-lgdg .sjrk-navbar-active-activity .sjrk-navbar-item-activity::after {
  background-image: url("../images/sjrk-nav-stroke-active-grey.png");
}
.fl-theme-lgdg .sjrk-navbar-small.sjrk-navbar-active-about .sjrk-navbar-item-about,
.fl-theme-lgdg .sjrk-navbar-small.sjrk-navbar-active-partners .sjrk-navbar-item-partners,
.fl-theme-lgdg .sjrk-navbar-small.sjrk-navbar-active-resources .sjrk-navbar-item-resources,
.fl-theme-lgdg .sjrk-navbar-small.sjrk-navbar-active-activity .sjrk-navbar-item-activity {
  background-image: url("../images/sjrk-nav-stroke-active-small-grey.png");
}
.fl-theme-lgdg .sjrk-navbar-small-openToggle:before {
  background-image: url("../images/sjrk-nav-chevron-grey.png");
}
.fl-theme-lgdg .sjrk-navbar-small-closeToggle:before {
  background-image: url("../images/sjrk-nav-close-grey.png");
}
