body {
    max-width: 1098px;
}


.sjrk-caps {
    text-transform: uppercase;
}

.sjrk-header {
    background-color: rgb(255, 194, 74);
}

.sjrk-header h1 {
    color: #FFF;
    font-size: 4em;
    margin: 0;
}

.sjrk-header .sjrk-left-col {
    padding-top: 40px;
    padding-left: 40px;
}

.sjrk-header .sjrk-right-col {
    background-image: url("../assets/sjrk-cropped-stroke.png");
    background-size: 50px 42px;
    background-repeat: repeat-x;
    padding-top: 50px;
}

.sjrk-codesign-link {
    color: #FFF;
    text-decoration: none;
}

.sjrk-content-top {
    height: 152px;
    background-image: url("../assets/paperbg-top.png");
}

.sjrk-wikiLinkContainer-outer {
    background-image: url("../assets/sjrk-black-blob.png");
    color: #FFF;
    width: 157px;
    height: 140px;
    background-size: 157px 140px;
    background-repeat: no-repeat;
}

.sjrk-wikiLinkContainer-inner {
    padding: 25%;
}

.sjrk-wikiLink {
    color: #FFF;
    text-decoration: none;
    font-size: 0.8em;
}

.sjrk-content {

}

.sjrk-content-bottom {
    height: 152px;
    background-image: url("../assets/paperbg.png");
}

.sjrk-footer {
    text-align: center;
    background-color: rgb(255, 194, 74);
}
