@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,600i,700");

body {
    color: #1F2B43;
    font-family: "Source Sans Pro", sans-serif;
    background: #FFF url("../images/background.svg") 0 -130px no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

h1, h3 {
    color: #1F2B43;
	font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

h4 {
    margin: 1.5em 0 0 0;
    color: #1F2B43;
	font-size: 0.9em;
    font-weight: normal;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

a {
    color: #1F2B43;
    font-weight: bold;
    text-decoration: none;
}

.sjrk-logo {
    padding: 1.5em;
    margin: 5em auto 2.5em auto;
    display: block;
    text-indent: -9999px;
    width: 31px;
    height: 59px;
    background: url("../images/sjrk-logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.heading-rule {
	background-color: #C9EB96;
	display: block;
	height: 6px;
	width: 1.5em;
}

.section-rule {
	background-color: #FFD3A9;
	display: block;
	height: 6px;
    width: 12em;
    margin: 1em auto 3em auto;
}

.container {
    max-width: 1005px;
    margin: 0 auto;
    padding: 0.4em;
}

header {
    /* background: #FFF; */
    text-align: center;
}

nav {
    background-color: #FFF;
    padding: 0 1em 2em 1em;
    max-width: 90%;
    margin: 0 auto;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: #1F2B43;
    font-size: 1.2em;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-decoration: none;
    padding-bottom: 0.5em;
}

nav .current {
    border-bottom: 6px solid #1F2B43;
}

.landing-nav ul li a {
    color: #1F2B43;
}

.cta {
    background-color: #FFF;
    max-width: 487px;
    margin-top: 2em;
    text-align: center;
}

.cta h1 {
    font-size: 1.3em;
    font-weight: 700;
    line-height: 1.5em;
    text-transform: none;
    margin-bottom: 1.2em;
}

.cta span {
    font-weight: 600; /* semi-bold italic */
    font-style: italic;
    font-size: 1.1em;
}

.button {
	display: inline-block;
    border-radius: 20px;
    cursor: pointer;
	font-size: 0.9em;
    font-weight: bold;
    letter-spacing: 0.09em;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.button:hover {
    box-shadow: none;
}

.primary-button {
    background-color: #1F2B43;
    color: #FFF;
	padding: 10px 30px;
}

.secondary-button {
    border: 3px solid #1F2B43;
    background-color: #FFF;
    color: #1F2B43;
	padding: 10px 30px;
}

.featured-resources-collection {
    margin-top: 10em;
    background: #1F2B43 url("../images/background.svg") 0 -300px/cover no-repeat;
    padding: 10px 15px 15px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.featured-resources-collection > h3 {
    margin: 40px 0 50px 0;
    font-size: 0.9em;
    font-weight: 600; /* semi-bold */
    letter-spacing: 0.05em;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    background: none;
}

.featured-resources-collection > h3 span {
    padding: 0.8em;
    background: #FFF;
    border-radius: 6px;
}

.featured-resource {
    background-color: #FFFFFF;
    border-radius: 6px;
    min-height: 240px;
    position: relative;
    padding: 1em 1em 3.750em 1em;
    margin-bottom: 3em;
}

.featured-resource > h3 {
    padding-bottom: 0.9em;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.featured-resource p {
    font-size: 1.3em;
    margin-top: 10px;
}

/* Ensures buttons are aligned horizontally */
.featured-resources-collection .secondary-button {
    margin-bottom: 20px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.landing-about {
    margin-top: 2.5em;
}

.text-container {
    background-color: #FFF;
    font-size: 1.3em;
}

.text-container a:hover {
    background-color: #C9EB96;
}

/* Partners */
.partner {
    color: #1F2B43;
	font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.02em;
    text-transform: none;
}
/* Partners end */

/* Resources */
.resource-intro {
    font-style: italic;
}
.resource-title {
    margin-top: 2em;
}
.resource-description {
    margin-top: 0.5em;
}
/* Resources end */

/* Footer */
footer {
    max-width: 1005px;
    margin: 4em auto 0 auto;
    padding: 1em;
    font-size: 1em;
    font-weight: 600; /* semi-bold italic */
    font-style: italic;
    background: #1F2B43 url("../images/background.svg") 0 0px/cover no-repeat;
    color: #FFF;
    box-sizing: border-box;
}

footer a:visited {
    color: #FFF;
}

footer span {
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 0.02em;
}

.footer-text {
    background-color: #1F2B43;
}

.mobile-hidden {
	display: none;
}

.footer-logos {
    background: #1F2B43;
    margin-top: 1em;
    margin-right: 0.8em;
}

.oak-logo {
    padding: 1.5em;
    display: block;
    text-indent: -9999px;
    background: url("../images/sjrk-oak-logo-white.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.idrc-logo {
    float: left;
    padding: 1.5em;
    display: block;
    text-indent: -9999px;
    background: url("../images/sjrk-idrc-logo-white.png");
    background-repeat: no-repeat;
    background-size: contain;
}
/* Footer end */

/* UIO */
.fl-toc-tocContainer {
    width: 85%;
    margin: 0 auto;
    font-size: 1.5em;
}

.fl-prefsEditor-separatedPanel .fl-panelBar {
    background-color: #FFF;
    color: #1F2B43;
    border-bottom: none;
    box-shadow: none;
    width: 100%;
    height: 100%;
    float: left;
}

.fl-prefsEditor-separatedPanel .fl-panelBar .fl-prefsEditor-buttons {
    background-color: #FFF;
    color: #1F2B43;
    box-shadow: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
    margin-right: 0;
}

.fl-prefsEditor-separatedPanel .fl-prefsEditor-reset {
    background-color: #FFF;
    color: #1F2B43;
    box-shadow: none;
}

.fl-prefsEditor-separatedPanel .fl-prefsEditor-showHide, .fl-prefsEditor-separatedPanel .fl-prefsEditor-reset {
    background-color: #FFF;
    color: #1F2B43;
    box-shadow: none;
}

/* white logo for white-on-black theme */
.fl-theme-wb .sjrk-logo {
    background-image: url("../images/sjrk-logo-white.svg");
}
.fl-theme-wb .oak-logo {
    background-image: url("../images/sjrk-oak-logo-white.png");
}
.fl-theme-wb .idrc-logo {
    background-image: url("../images/sjrk-idrc-logo-white.png");
}

/* yellow logo for yellow-on-black theme */
.fl-theme-yb .sjrk-logo {
    background-image: url("../images/sjrk-logo-yellow.svg");
}
.fl-theme-yb .oak-logo {
    background-image: url("../images/sjrk-oak-logo-yellow.png");
}
.fl-theme-yb .idrc-logo {
    background-image: url("../images/sjrk-idrc-logo-yellow.png");
}

/* black logo for black-on-white and black-on-yellow themes */
.fl-theme-bw .sjrk-logo,
.fl-theme-by .sjrk-logo {
    background-image: url("../images/sjrk-logo-black.svg");
}
.fl-theme-bw .oak-logo,
.fl-theme-by .oak-logo {
    background-image: url("../images/sjrk-oak-logo-black.png");
}
.fl-theme-bw .idrc-logo,
.fl-theme-by .idrc-logo {
    background-image: url("../images/sjrk-idrc-logo-black.png");
}

/* light grey logo for light grey and dark grey theme */
.fl-theme-lgdg .sjrk-logo {
    background-image: url("../images/sjrk-logo-grey.svg");
}
.fl-theme-lgdg .oak-logo {
    background-image: url("../images/sjrk-oak-logo-grey.png");
}
.fl-theme-lgdg .idrc-logo {
    background-image: url("../images/sjrk-idrc-logo-grey.png");
}

.fl-theme-by body,
.fl-theme-yb body,
.fl-theme-wb body,
.fl-theme-bw body,
.fl-theme-lgdg body,
.fl-theme-by .featured-resources-collection,
.fl-theme-yb .featured-resources-collection,
.fl-theme-wb .featured-resources-collection,
.fl-theme-bw .featured-resources-collection,
.fl-theme-lgdg .featured-resources-collection,
.fl-theme-by footer,
.fl-theme-yb footer,
.fl-theme-wb footer,
.fl-theme-bw footer,
.fl-theme-lgdg footer {
    background-image: none;
}
/* UIO end */

@media screen and (min-width:500px) {
    nav {
        padding: 2em;
    }
    nav ul li a {
        font-size: 1.5em;
    }
    .cta h1 {
        font-size: 2.1em;
    }
    .cta {
        margin-top: 5em;
    }
    .button {
        font-size: 1.2em;
        letter-spacing: 0.05em;
    }
    .primary-button {
        padding: 15px 35px;
    }
    footer {
        font-size: 1.3em;
    }
    
    footer span {
        font-size: 1em;
    }
}

@media screen and (min-width:500px) and (max-width:800px){
    .featured-resource {
        padding: 1em 1em 0.5em 1em;
    }
}

@media screen and (min-width:600px) {
    nav {
        padding: 2em;
        max-width: 70%;
    }
}

@media screen and (min-width: 820px) {
    .container, .footer {
        padding: 2em;
    }

    header {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }

    .sjrk-logo {
        margin: 2em auto auto 2em;
    }

    nav ul {
        margin: 0;
        padding: 0;
        display: flex;
    }

    nav ul li {
        list-style: none;
        padding: 0.5em 2em;
    }

    nav ul li a {
        font-size: 1.375em;
        font-weight: 700;
        text-decoration: none;
    }

    .cta {
        padding: 2em 3em;
        max-width: 700px;
    }

    footer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        font-weight: normal;
    }
}

@media screen and (min-width:820px) and (max-width:960px){
    .footer-text {
        padding: 0.5em 0 0.5em 0.5em;
        max-width: 400px;
    }

    .mobile-hidden {
		display: inline;
    }

    .oak-logo {
        width: 50px;
        height: auto;
    }

    .idrc-logo {
        width: 150px;
        height: auto;
    } 
}

@media screen and (min-width:800px) and (max-width:1000px){
    .featured-resource {
        padding: 1em 1em 0.1em 1em;
    }
}

@media screen and (min-width: 942px) {
    .footer-text {
        padding: 0.5em 0 0.5em 0.5em;
        max-width: 487px;
    }

    .mobile-hidden {
		display: inline;
    }

    .oak-logo {
        width: 60px;
        height: auto;
    }

    .idrc-logo {
        width: 200px;
        height: auto;
    }
}

@media screen and (min-width: 1000px) {
    .featured-resources-collection {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    
    .featured-resource {
        margin: 0 2% 3.750em 2%;
        width: 23%;
    }
}