<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ block "title" . }}{{ end }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ partial "uio-deps.html" . }}
    {{ $style := resources.Get "css/style.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script type="text/javascript">
      var _paq = window._paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="https://analytics.inclusivedesign.ca/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '11']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
</head>
<body>
{{ partial "uio.html" . }}
{{ partial "header.html" . }}
<main class="container" role="main">
{{ block "main" . }}{{ end }}
</main>
{{ partial "footer.html" . }}
<script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
</script>
{{ partial "initialise-uio.html" . }}
</body>
</html>
