<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ block "title" . }}{{ end }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ partial "uio-deps.html" . }}
    {{ $style := resources.Get "css/style.css" | minify | fingerprint }} 
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
{{ partial "uio.html" . }}
{{ partial "header.html" . }}
<main class="container" role="main">
{{ block "main" . }}{{ end }}
</main>
{{ partial "footer.html" . }}
<script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
</script>
{{ partial "initialise-uio.html" . }}
</body>
</html>
