<footer>
    <div class="footer-text">
        <p>Supported by the <a href="http://oakfnd.org/"><span>Oak&nbsp;Foundation</span></a> and led by the <a href="http://idrc.ocadu.ca/"><span>Inclusive&nbsp;Design&nbsp;Research&nbsp;Centre</span></a></p>
    </div>
    <div class="mobile-hidden footer-logos">
        <a class="oak-logo" title="SJRK" href="http://oakfnd.org/">OAK Foundation</a>
    </div>
    <div class="mobile-hidden footer-logos">
        <a class="idrc-logo" title="SJRK" href="http://idrc.ocadu.ca/">IDRC</a>
    </div>
</footer>